/node_modules
/public/hot
/public/uploads/*
/public/storage
/storage/temp
/storage/*.key
/vendor
/storage/logs/*.log
/docker/*
/.idea/*
.idea/workspace.xml
/.idea/workspace.xml
.idea/*
.DS_Store
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.tgz
!/storage/app/firebase-adminsdk.json
.env
.htaccess
.user.ini
php.ini
composer.lock
